# .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/
.vscode/

# Entity Framework
Migrations/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
/hr-web/build
/hr-web/.env.local
/hr-web/.env.development.local
/hr-web/.env.test.local
/hr-web/.env.production.local

# Database
*.mdf
*.ldf
*.ndf

# Sensitive files
appsettings.Development.json
*.pfx
*.p12

# OS
.DS_Store
Thumbs.db
